@media only screen and (min-width: 480px) {
    ::-webkit-scrollbar {
        width: 7px;
        height: 2px;
    }

    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    ::-webkit-scrollbar-thumb {
        background: $themeColor2;
        border: 0 none #fff;
        border-radius: 0;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $whiteColor;
    }

    ::-webkit-scrollbar-thumb:active {
        background: $grayColor;
    }

    ::-webkit-scrollbar-track {
        background: $themeColor1;
        border: 0 none $whiteColor;
        border-radius: 0;
    }

    ::-webkit-scrollbar-track:hover {
        background: $themeColor1;
    }

    ::-webkit-scrollbar-track:active {
        background: lighten($themeColor1, 10%);
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}
