.second-menu {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding-left: 0;

        @media #{$tablet-max} {
            justify-content: center;
        }

        li {
            padding: 0 10px;

            &:first-child {
                border-right: 1px solid $themeColor5;
            }

            a {
                text-decoration: none;
            }
        }
    }
}
