.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color: $iconColor;
        /* Раскомментируй, если нужены цветные иконки START
        background: $themeColor5;
        border-radius: $borderRadius;
        box-shadow: $shadow;
        width: 35px;
        height: 35px;


        &.social-facebook {
            //color: #4267B2;
            background: #4267B2;
        }

        &.social-instagram {
            //color: #F56040;
            background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
        }

        &.social-youtube {
            //color: #FF0000;
            background: #FF0000;
        }

        &.social-tiktok {
            //color: #000;
            background: #000;
        }

        &.social-twitter {
            //color: #1DA1F2;
            background: #1DA1F2;
        }

        &.social-linkedin {
            //color: #0077B5;
            background: #0077B5;
        }

        &.social-odnoklassniki {
            //color: #FF9800;
            background: #FF9800;
        }

        &.social-vk {
            //color: #4C75A3;
            background: #4C75A3;
        }
         END */

        &:hover,
        &:active,
        &:focus {
            color: $iconColorActive; // раскомментируй, если нужен только один цвет иконок
            //background: $themeColor2; // раскомментируй, если нужен только один цвет иконок
        }
    }
}
