table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background: $tableBgColor;
}

tr > th:first-child,
tr > td:first-child {
    text-align: left;
}

thead tr:first-child {
    font-weight: 600;
}


tbody > tr:first-child th {
    font-weight: 600;
}

thead,
tfoot,
tbody,
tr,
th,
td {
    // border: 1px solid $tableBorderColor;
    padding: 17px !important;
}

td, th {
    vertical-align: middle !important;
}
