$footerBgColor: $themeColor1;
$footerFontColor: $themeColor5;
$footerLinkColorActive: $themeColor2;


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $footerBgColor;
}

.pre-footer {
    padding: 40px 0 20px;
    //background: lighten($footerBgColor, 5%);
    color: $footerFontColor;
    border-bottom: 1px solid lighten($footerBgColor, 15%);

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .widget-item {
            .phone-item {
                display: block;
            }

            div {
                padding-bottom: 20px;
            }
        }

        /* Есил добавить этот класс к виджету, он будет занимать всю ширину */
        .full-width {
          flex-basis: 100%;
          margin-top: 20px;
        }
    }

    @media #{$mobile-max} {
        text-align: center;

        .container {
            flex-direction: column;
        }
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

    .menu-link,
    .sub-menu-link,
    .phone-number {
        color: $footerFontColor;
    }
}

.copyright {
    color: $footerFontColor;
    display: flex;
    justify-content: space-between;

    div,
    nav {
        margin: 10px 0;
        font-size: 14px;

        @media #{$mobile-max} {
            margin: 2px 0;
        }
    }

    a {
        color: $footerFontColor;
        text-decoration: underline;
        font-size: 14px;

        &:hover {
            color: $footerLinkColorActive;
        }
    }

    //xs 544
    @media #{$mobile-max} {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
}
