$footerBgColor: $themeColor1;
$footerFontColor: $themeColor5;
$footerLinkColorActive: $themeColor2;


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $footerBgColor;
}

.pre-footer {
    padding: 40px 0 20px;
    background: lighten($footerBgColor, 5%);
    color: $footerFontColor;

    .widget-item {
        .phone-item {
            display: block;
        }

        div {
            padding-bottom: 20px;
        }
    }


    ul {
        padding-left: 0;
        list-style: none;
    }

    .menu-link,
    .sub-menu-link,
    .phone-number {
        color: $footerFontColor;
    }

    @media #{$mobile-max} {
        text-align: center;

        .container {
            flex-direction: column;
        }
    }
}

.copyright {
    color: $footerFontColor;
    display: flex;
    justify-content: space-between;

    div,
    nav {
        margin: 14px 0;

        @media #{$mobile-max} {
            margin: 8px 0;
        }
    }

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }

    //xs 544
    @media #{$mobile-max} {
        flex-direction: column;
        text-align: center;
    }
}
