.header {
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;

    .pre-header {
        background: lighten($themeColor1, 40%);
        padding: 5px 0;

        .container {
            padding: 0;
        }
    }

    .header-inner {
        padding: 5px 0;
    }

    &.is-sticky {

    }

    &.is-autohide {

    }

    &.is-transparent {

    }

    &.is-solid {

    }

    &.is-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 101;
        transition: .2s ease;

        &.onscroll-hide {
            transform: translateY(-100%);
        }

        &.onscroll-show {
            transform: translateY(0);
        }
    }

    &__woo {
        .header__circle, .cart-contents {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid $grayColor;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $themeColor2;
            font-size: 20px;
        }

        div:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media #{$desktop-max} {
    .header {
        display: none !important;
    }
}
