$headerBgColor: $themeColor5;
$headerFontColor: $themeColor4;
$headerHight: 80px;


.header {
    background: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;
    position: relative;
    z-index: 3;
    //background-origin: border-box; // if problem with border when gradient applied to header

    .pre-header {
        background: lighten($themeColor1, 60%);
        padding: 5px 10px;

        .container {
            padding: 0;
        }
    }

    .header-inner {
        padding: 5px 10px;
    }

    &.is-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        //background: $headerBgColor;
        z-index: 999999;
        transition: .2s ease;

        &.onscroll-hide {
            transform: translateY(-100%);
        }

        &.onscroll-show {
            transform: translateY(0);
        }
    }

    &__woo {

        .header__circle,
        .cart-contents {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid $themeColor6;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $themeColor2;
            font-size: 20px;
        }

        div:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media #{$desktop-max} {
    .header {
        display: none !important;
    }
}
