// MENU mobile
$navHeaderMobileBGColor: $themeColor5;
$navHamburgerMobileColor: $themeColor1;

$menuMobileBGColor: $bodyBgColor;
$menuMobileSubMenuBGColor: $menuMobileBGColor;
$menuMobileTextColor: $themeColor1;
$menuMobileSubMenuTextColor: $themeColor1;
$menuMobileSubMenuBGOnHover: $themeColor2;
$menuMobileSubMenuTextColorOnHover: $themeColor1;

$navArrowColor: $themeColor4;

$menuMobileLinkFontSize: 20px;
$menuMobileSubMenuLinkFontSize: 18px;

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: $themeColor2;

$menuContainerMobilePaddingTop: 70px;


.nav-mobile-header {
    display: none;
}

body.home {
    .wrapper {
        @media #{$desktop-max} {
            .nav-mobile-header {
                background: rgba($navHeaderMobileBGColor, 0.8);
                backdrop-filter: blur(5px);
            }
        }
    }
}

@media #{$desktop-max} {
    nav.main-nav {
        display: none;
    }

    .nav-mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        padding: 10px;
        top: 0;
        left: 0;
        border-bottom: 1px solid darken($navHeaderMobileBGColor, 10%);
        background: rgba($navHeaderMobileBGColor, 0.9);
        backdrop-filter: blur(3px);
        text-align: left;
        z-index: 999;

        .hamburger {
            display: block;
        }
    }

    .hamburger {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 375px;
        height: 100%;
        margin: 0;
        padding-bottom: 20px;
        z-index: 1000;
        overflow: auto;
        background: $menuMobileBGColor;
        will-change: transform;
        transform: translateX(100%);
        transition: transform .2s ease-out;

        &.is-active {
            transform: translateX(0%);
            box-shadow: $shadow;
        }

        .menu-container {
            padding-top: $menuContainerMobilePaddingTop;
            display: block;
        }

        .menu {
            display: block;
            padding: 40px 0;

            &-close {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            &-item {
                display: block;
                padding: 5px 0;
                border: none !important;

                &-has-children {}

                &::after {
                    display: none;
                }

                &:hover {
                    background: transparent;

                    .menu-link {
                        color: $menuMobileTextColor;
                    }
                }

                .menu-item-has-children-arrow {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 1;
                    display: block;
                    border: 0;
                    padding: 11px 13px 15px;
                    background: transparent;

                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-right: 2px solid $navArrowColor;
                        border-bottom: 2px solid $navArrowColor;
                        transform: rotate(45deg);
                    }

                    &-active {
                        padding-top: 15px;
                        padding-bottom: 11px;

                        &::before {
                            transform: rotate(-135deg);
                        }
                    }
                }

                &-current,
                &.current-menu-parent,
                &.current-menu-ancestor {
                    border-bottom: none;

                    .menu-link {

                    }
                }

                .menu-link {
                    color: $menuMobileTextColor;
                    display: block;
                    font-size: $menuMobileLinkFontSize;
                    padding: 10px 0;
                }
            }
        }

        .sub-menu {
            position: static;
            width: auto;
            display: none;
            visibility: visible;
            background: $menuMobileSubMenuBGColor;
            opacity: 1;
            box-shadow: none;
            transition: none;

            &-item {
                &::after {
                    display: none;
                }

                .menu-item-has-children-arrow {
                    top: 0;
                }

                & + .sub-menu-item {}

                &-current {
                    > .sub-menu-link {
                        background: transparent;
                    }
                }

                .sub-menu-link {
                    color: $menuMobileSubMenuTextColor;
                    font-size: $menuMobileSubMenuLinkFontSize;
                    text-align: center;
                }
            }
        }
    }
}

// Mobile menu language swicher START
.mobile-language {
    position: absolute;
    top: 10px;
    left: 10px;

    & .menu-container {
        padding-top: 0;

        & .menu-link {
            padding: 6px;
            color: $menuMobileTextColor !important;
        }

        & .menu-item {
            border: none;

            &:hover {
                background: transparent;
            }
        }
    }

    & .lang-item {

        & .sub-menu-link {
            padding: 5px;

            & img {
                width: 32px;
            }
        }
    }
}

#menu-language-switcher-1 {
    & .menu-item-has-children-arrow {
        top: 15px;
        right: -15px;
        padding: 5px;

        &:before {
            width: 8px;
            height: 8px;
        }
    }

    & .sub-menu {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
    }
}
// Mobile menu language swicher END

.hamburger {
    display: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    transition: .2s ease-out;
    margin-left: 15px;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 4px rgba($hamburger-color, .2);
    }

    &,
    &[type="button"] {
        cursor: pointer;
        border: 0;
        padding: 9px 5px;
        background: transparent;
    }

    &-box {
        display: block;
        width: 30px;
        padding: 9px 0;
    }

    &-inner {
        position: relative;
        transition: background 0s ease-out $hamburger-delay;

        &,
        &::before,
        &::after {
            display: block;
            width: 100%;
            height: 2px;
            background: $navHamburgerMobileColor;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: bottom $hamburger-duration ease-out $hamburger-delay, top $hamburger-duration ease-out $hamburger-delay, transform $hamburger-duration ease-out;
        }

        &::before {
            bottom: $hamburger-offset;
        }

        &::after {
            top: $hamburger-offset;
        }
    }
}

.mobile-phones {
    margin-top: 20px;

    & .phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-number {
            color: $menuMobileTextColor;
            font-size: $menuMobileSubMenuLinkFontSize;
            padding: 8px 10px;
        }
    }
}

.is-active {
    .hamburger-inner {
        background: transparent;

        &::before,
        &::after {
            transition: bottom $hamburger-duration ease-out, top $hamburger-duration ease-out, transform $hamburger-duration ease-out $hamburger-delay;
        }

        &::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
