.js-ajax-posts {
    img {
        height: 350px;
        object-fit: cover;
        box-shadow: $shadow;
        transition: 0.5s;

        &:hover {
            box-shadow: none;
        }
    }

    & .row {
        h3 {
            & a {
                font-size: inherit;
                line-height: inherit;
            }
        }
    }
}
