.single-title {
    font-size: 36px !important;

    @media #{$tablet-max} {
        font-size: 30px !important;
    }
}


article p {
    text-align: justify;
}

.post-navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: $themeColor5;
    border-radius: $borderRadius;
}

.prev-post a, .next-post a {
    @extend .btn;
    @extend .btn1-outline;
    @extend .btn-sm;
}

//Comments list
ol.commentlist {
    padding: 20px;
    background: $themeColor5;
    margin-bottom: 25px;
    border-radius: $borderRadius;
}

#respond {
    p {
        text-align: left;
    }
}

.tags {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;

    a {
        background: $themeColor6;
        padding: 2px 15px;
        border-radius: $borderRadius;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;

        &:hover {
            color: $themeColor5;
            background: $themeColor2;
        }
    }
}

.comment-reply-link {
    @extend .btn;
    @extend .btn2;
    @extend .btn-sm;
    margin-left: 15px;
}
