$mobile: "(max-width: 544px)"; //xs
$tablet: "(max-width: 768px)"; //sm
$laptop: "(max-width: 1024px)"; //md
$desktop: "(max-width: 1366px)"; //lg
$screen: "(min-width: 1367px)"; //xl

//xs 544
@media #{$mobile} {}

//sm - 768
@media #{$tablet} {}

//md - 1024
@media #{$laptop} {}

//lg - 1366
@media #{$desktop} {}

//xl 1367 - 
@media #{$screen} {}
