$debug: false;
$image-url-path: "assets/img/";
$font-url-path: "assets/fonts/";

//GRID Settings
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (xs: 0,
    sm: 575px,
    md: 768px,
    lg: 1024px,
    xl: 1366px);

$container-max-widths: (sm: 570px,
    md: 760px,
    lg: 1000px,
    xl: 1200px);


// THEME COLORS
$themeColor1: #28325D; // Обычно самый темный цвет. Используется для: заголовков h1-h6 - $titleFontColor и других.
$themeColor2: #BB2440; // Основной/акцентный цвет бренда. Поменять значение этой переменной согласно макета обязательно!
$themeColor3: #FFF22D;
$themeColor4: #000; // black
$themeColor5: #fff; // white
$themeColor6: #e3e3e3; // lightgray
$themeColor7: #b2b2b2; // darkgray


$borderRadius: 5px;
$borderColor: lighten($themeColor4, 80%);
$shadow: 0 10px 20px rgba($themeColor4, .2);

// SELECTION: цвет фона и текста при выделении его курсором
$selectionBgColor: $themeColor2;
$selectionFontColor: $themeColor5;

// Text Highlight: цвет фона и текста при добавлении к нему .highlighted
$textHighlightBgColor: $themeColor2;
$textHighlightColor: $themeColor5;

// BODY
$bodyBgColor: darken($themeColor5, 3%);
$bodyFontColor: $themeColor4;

// WRAPPER
$wrapperBgColor: $themeColor5;

// TITLES
$titleFontColor: $themeColor1;
$titleFontColorActive: lighten($titleFontColor, 10%);

// LINKS
$linkFontColor: $bodyFontColor;
$linkFontColorActive: lighten($linkFontColor, 20%);

// TABLE
$tableBgColor: $themeColor5;
$tableBgColorActive: lighten($themeColor2, 45%);
$tableBorderColor: $themeColor7;
$tableBorderColorActive: $themeColor7;
$tableOddBgColor: lighten($themeColor1, 70%);
$tableOddFontColor: $themeColor4;
$tableEvenBgColor: lighten($themeColor2, 50%);
$tableEvenFontColor: $themeColor4;

// TEXT
$mutedColor: lighten($themeColor4, 75%);

// Icons
$iconColor: $themeColor2;
$iconColorActive: $themeColor1;
$iconColorReversed: $bodyBgColor;

// FORMS
$formFieldBorderWidth: 1px;
$formFieldBorderColor: $borderColor;
$formFieldPadding: 12.5px 10px; // Responsive in _mixins.scss. Задумка в том, чтобы высота полей форм совпадала с размером кнопок
$formFieldTextColor: $themeColor4;
$formFieldTextSize: 16px; // Responsive in _mixins.scss
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: $themeColor5;
$formBgColor: lighten($themeColor1, 75%);

// Pagination
$paginationTextColor: $themeColor4;
$paginationActiveTextColor: $themeColor5;
$paginationActiveBG: $themeColor2;

//WOOCOMMERCE
$wooThemeColor: $themeColor2;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: $themeColor5;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: $themeColor2;
$infoIconFontColor: $themeColor2;

// message
$messageBorderTopColor: $themeColor2;
$messageIconFontColor: $themeColor2;

//WOOCOMMERCE end

// For sass function color-yiq
$yiq-contrasted-threshold: 150;
$yiq-text-dark: $themeColor1;
$yiq-text-light: $themeColor5;
